[Desktop Entry]
Type=Application
Version=1.0
Name=Google Chrome
GenericName=Navegador
Comment=Google Chrome
Exec=/usr/local/bin/google-chrome --no-sandbox --disable-setuid-sandbox --disable-dev-shm-usage --disable-gpu --no-first-run --disable-session-crashed-bubble --hide-crash-restore-bubble --disable-infobars --test-type --start-maximized --window-size=1920,1080 --window-position=0,0 --user-data-dir=/workspace/.chrome %U
Icon=chromium
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=Chromium
