{
	email admin@siragpt.com
}

siragpt.com, www.siragpt.com, office.siragpt.com {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:5000
	}

	handle /uploads/* {
		reverse_proxy backend:5000
	}

	handle {
		reverse_proxy frontend:3000
	}
}

api.siragpt.com {
	encode zstd gzip
	reverse_proxy backend:5000
}
